.spacer {
  height: 10px;
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.author-info img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
}
