body {
  font-size: 14px;
  margin: 0;
  padding: 10px;
}

header {
  background: #333;
  color: white;
  padding: 15px;
}

header nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 5px 0;
}

main {
  padding: 10px;
}

.post-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.blog-posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.post-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  background-color: var(--secondary-color);
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


@media screen and (min-width: 600px) {
  body {
      font-size: 16px;
  }

  header nav ul {
      flex-direction: row;
  }

  header nav ul li {
      margin: 0 15px;
  }

  .blog-posts {
      grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width: 1024px) {
  body {
      font-size: 18px;
  }

  .blog-posts {
      grid-template-columns: repeat(3, 1fr);
  }

  .post-card {
      padding: 20px;
  }

  footer {
      padding: 20px;
  }
}


